/*---------------------------
CSS RESET
---------------------------*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*---------------------------
UNIVERSAL
---------------------------*/
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


/*---------------------------
BODY
---------------------------*/

header {
height: 44px;
}

/*---------------------------
COLOR CODES:
gray: #C1D0D9
light-blue: #79C0E7
darker-blue: #4796C4
horizontal line: #ADD8F0
---------------------------*/

/*---------------------------
CONTENT CONTAINER
---------------------------*/
.container {
  width: 928px;
  margin: 0 auto;
}

.container > sidebar,
.container > div,
.container > section {
  display: inline-block;
  vertical-align: top;
}

/*---------------------------
DATE TIME SIDEBAR
---------------------------*/

.date-time {
  width: 152px;
  text-align: right;
}

.date {
  color: ##C1D0D9;
	font-family: Lato, Calibri, Arial, sans-serif;
	font-size: 14px;

}

.time {
  color: #79C0E7;
  /* ^ light-blue now, set up rule for alternating chlidren light or darker blue*/
	font-family: Lato, Calibri, Arial, sans-serif;
	font-size: 24px;
}

/*---------------------------
TIMELINE VERTICAL
---------------------------*/

.timeline-vertical {
  width: 52px;
	margin-top: 8px;
}



/*---------------------------
RECIPE
---------------------------*/
.recipe-container {
  width: 690px;
  color: #FFF;
	margin-top: 16px;
}

.recipe-container > div,
.recipe-container > section {
  display: inline-block;
  vertical-align: top;
}

.recipe-triangle {
  width: 26px;
}

.recipe-content {
  width: 698px;
	padding: 35px 63px;
  background-color: #79C0E7;
  /* change for second */
	border-radius: 1%;
}

.recipe-content h2 {
	Lato, Calibri, Arial, sans-serif;
	font-size: 28px;
	font-weight: bold;
}

.recipe-content hr {
	color: #8DBFDA;
}

.recipe-content p {
	font-family: Lato, Calibri, Arial, sans-serif;
	font-size: 19px;
	font-weight: 300;
}
