/*---------------------------
CSS RESET
---------------------------*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*---------------------------
UNIVERSAL
---------------------------*/
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


/*---------------------------
BODY
---------------------------*/

header {
position: relative;
z-index: 1;
height: 58px;
}


/*---------------------------
CONTENT CONTAINER
---------------------------*/
.container {
  width: 958px;
  margin-top: 0;
	margin-bottom: 16px;
	margin-left: auto;
	margin-right: auto;
}

.container > sidebar,
.container > div,
.container > section {
  display: inline-block;
  vertical-align: top;
}

/*---------------------------
DATE TIME SIDEBAR
---------------------------*/

.date-time {
  width: 152px;
  text-align: right;
}

.date {
  color: #C1D0D9;
	font-family: Lato, Calibri, Arial, sans-serif;
	font-size: 14px;

}

.time {
  color: #79C0E7;
  /* ^ light-blue now, set up rule for alternating chlidren light or darker blue*/
	font-family: Lato, Calibri, Arial, sans-serif;
	font-size: 40px;
	padding-top: 5px;
}

/*---------------------------
TIMELINE VERTICAL
---------------------------*/

.timeline-container {
	position: relative;
	right: 8px;
	bottom: 9px;
	width: 15px;
	height: 334px;
	margin-left: 20px;
	margin-right: 20px;
}

.icon-circle {
	position: absolute;
	height: 51px;
	width: 51px;
	background-color: #57A6D3;
	border: 7px solid #B5DCF4;
	border-radius: 100%;
	z-index: 1;
}

.icon-circle img {
	position: relative;
}

#phone-icon {
	left: 10px;
	top: 7px;
}

#monitor-icon {
	left: 7px;
	top: 8px;
}

.timeline-vertical {
	position: relative;
	height: 334px;
	border-left: 11px solid #B5DCF4;
	left: 21px;
	top: 20px;
}



/*
NOT NEEDED
.timeline-vertical hr {
	background-color: #B5DCF4;
	border: none;
	width: 11px;
	size: 100%;
}
*/

/*---------------------------
RECIPE
---------------------------*/
.recipe-container {
  width: 720px;
  color: #FFF;

}

.recipe-container > div,
.recipe-container > section {
  display: inline-block;
  vertical-align: top;
}

.triangle-container {
	position: relative;
  width: 26px;
}

.triangle {
	position: absolute;
	top: 10px;
	left: 21px;
	width: 0;
	height: 0;
	border-top: 9px solid transparent;
	border-bottom: 9px solid transparent;
	border-right: 9px solid #79C0E7;
}

.recipe-content {
  width: 690px;
	padding-top: 42px;
	padding-left: 35px;
	padding-right: 35px;
	padding-bottom: 63px;
  background-color: #79C0E7;
  /* change for second */
	border-radius: 5px;
}

.recipe-content h2 {
	font-family: Lato, Calibri, Arial, sans-serif;
	font-size: 25px;
	font-weight: bold;
}

.recipe-content hr {
	border: none;
  height: 1px;
  /* Set the hr color */
  background-color: #ADD8F0;
	/*Credit http://stackoverflow.com/a/4151770 */
}

.recipe-content p {
	font-family: Lato, Calibri, Arial, sans-serif;
	font-size: 19px;
	font-weight: 300;
	line-height: 1.3;
}

/*---------------------------
COLOR CODES:
gray: #C1D0D9
light-blue: #79C0E7
darker-blue: #4796C4
horizontal line: #ADD8F0
icon-circle background: #57A6D3
icon-circle border: #B5DCF4

COLOR CLASSES:
---------------------------*/

.second-recipe-color {
	background-color: #4796C4;
}

.second-recipe-triangle-color {
	border-right: 9px solid #4796C4;
}

.second-recipe-time-color {
	color: #4796C4;
}
